<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OnlineShop.Properties.Settings.Evidenta_magazin_onlineConnectionString"
            connectionString="Data Source=DESKTOP-E7K86J1\SQLEXPRESS;Initial Catalog=&quot;Evidenta magazin online&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>